# Data Pre-Processing

In [4]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
#numpy for operations on array
#pandas for data analysis
#matplotlib for data visualisation

In [5]:
 #Importing Data
dataset=pd.read_csv("C:/Users/Mishaal/Desktop/original.csv")
X=dataset.iloc[:,:-1].values
Y=dataset.iloc[:,3]

In [6]:
dataset.head()

        State   Age       Salary Purchased
0  California  42.0  60000.00000        No
1     Florida  29.0  55000.00000       Yes
2       Texas  27.0  72000.00000        No
3     Florida  26.0  48000.00000        No
4       Texas  39.0  65111.11111       Yes

In [10]:
dataset.describe()

             Age        Salary
count  10.000000     10.000000
mean   36.888889  65111.111111
std     8.171012  12350.838428
min    26.000000  48000.000000
25%    30.250000  55500.000000
50%    37.444444  62555.555555
75%    41.250000  74250.000000
max    51.000000  85000.000000

In [18]:
#working with missing data
from sklearn.impute import SimpleImputer
#Sklearn is used for building models/Data pre-processing
#SimpleImputer class works with missing data
imputer=SimpleImputer(missing_values=np.nan,strategy='mean') #creating object
#lower bound is inclusive and upper bound is exclusive
imputer=imputer.fit(X[:,1:3]) #data fitted to this object
X[:,1:3]=imputer.transform(X[:,1:3]) #data transformed
X

array([['California', 42.0, 60000.0],
       ['Florida', 29.0, 55000.0],
       ['Texas', 27.0, 72000.0],
       ['Florida', 26.0, 48000.0],
       ['Texas', 39.0, 65111.111110000005],
       ['California', 34.0, 54000.0],
       ['Florida', 36.88888889, 57000.0],
       ['California', 46.0, 80000.0],
       ['Texas', 51.0, 85000.0],
       ['California', 38.0, 75000.0]], dtype=object)

In [25]:
#Encoding categorical data, we do this because, ML can only process with numerical data
#Encoding independent variable
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer(transformers=[('one_hot_encoder',OneHotEncoder(categories='auto'),[0])],remainder='passthrough') # all columns where transformer is not applied will be pass through
X=np.array(ct.fit_transform(X), dtype=np.float)
#Encoding dependent variable
from sklearn.preprocessing import LabelEncoder #Label encoder for binary choices like Yes/No
le=LabelEncoder()
Y=le.fit_transform(Y)

In [27]:
#Splitting Dataset into test or train
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

Feature Scaling
Standardization=x-mean(x)/sd(x)
Normalisation=x-min(x)/max(x)-min(X)

In [34]:
#feature scaling
from sklearn.preprocessing import StandardScaler #salary was overpowering the age column
sc_X=StandardScaler()
X_train=sc_X.fit_transform(X_train)
X_test=sc_X.transform(X_test)